/* from 576px to 767px */
@media (min-width: 576px) {
  /* custom */
  .container {
    max-width: 540px;
    padding-inline: 0;
  }

  /* dropdown body  */
  .dropdown-body {
    flex-direction: row;
    gap: 0.75rem;
  }
  .accordion-body,
  .dropdown-carousels {
    width: 50%;
  }
}
/* from 768px to 991px */
@media (min-width: 768px) {
  /* custom */
  .container {
    max-width: 720px;
  }
  .top-model-bg-wave-mobile,
  .miss-melody-bg-wave-mobile,
  .ylvi-bg-wave-mobile,
  .trends-bg-wave-mobile,
  .dino-world-bg-wave-mobile,
  .princess-mimi-bg-wave-mobile,
  .newsletter-bg-wave-mobile,
  .hero-bg-wave-mobile,
  .video-bg-wave-mobile,
  .sales-banner-bg-wave-mobile,
  .career-banner-bg-wave-mobile,
  .newsletter-banner-bg-wave-mobile {
    display: none;
  }

  /* dropdown body  */
  .accordion-body {
    width: 40%;
    padding-inline: 0.75rem;
  }
  .dropdown-carousels {
    width: 60%;
    padding-inline: 0.75rem;
  }
  .dropdown-body .service-list {
    flex-direction: row;
    margin: 1.5rem 0 0;
  }
  .dropdown-body .language-list {
    margin: 0;
  }

  /* hero section */
  .hero-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_white_desktop.svg);
  }

  /* brands */
  .brands .owl-nav button.owl-next {
    right: -1rem;
  }
  .brands .owl-nav button.owl-prev {
    justify-content: center;
    left: -1rem;
  }

  /* teaser section */
  .teaser-item {
    flex-direction: row;
  }
  .teaser-item:nth-child(2n + 1) {
    flex-direction: row-reverse;
  }
  .teaser-img-content {
    width: 40%;
  }
  .teaser-img-holder {
    padding: 2rem;
  }
  .teaser-img {
    margin-top: -64px;
  }
  .teaser-text-content {
    width: 50%;
  }

  /* video banner section */
  .video-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_grey_desktop.svg);
  }

  /* sales banner section */
  .sales-banner-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_lightgrey2-bg_desktop.svg);
  }

  /* about section */
  .about-content {
    display: flex;
    justify-content: space-between;
  }
  .about-headings,
  .about-body {
    width: 50%;
  }
  .about-headings {
    padding-right: 2.5rem;
  }
  .about-body {
    padding-left: 2.5rem;
    border-left: 1px solid #c8dbdb;
  }

  /* about banner section */
  .about-banner-text {
    font-size: 2rem;
  }
  .about-banner-wave-desktop {
    display: block;
  }
  .about-banner-wave-mobile {
    display: none;
  }

  /* news section */
  .news-body .owl-carousel .item {
    height: 813px;
  }

  /* career teaser section */
  .career-teaser-item {
    flex-direction: row;
  }
  .career-banner-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_newsletter_desktop.svg);
  }

  /* newsletter section */
  .newsletter-banner-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_footer_desktop.svg);
  }

  /* footer section */
  .footer-body {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-navbar span {
    display: block;
  }
  .social-link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  .footer-navbar .icon {
    font-size: 1rem;
  }

  /* brands page */
  .brand-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .miss-melody .brand-content,
  .ylvi .brand-content {
    flex-direction: row-reverse;
  }
  .brands-img-content,
  .brands-text-content {
    width: 45%;
  }
  /* top model */
  .top-model-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_topmodel-bg_desktop.svg);
  }
  /* miss melody */
  .miss-melody-bg-wave-desktop,
  .ylvi-bg-wave-desktop,
  .trends-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_white_desktop.svg);
  }
  /* dino world */
  .dino-world-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_dinoworld-bg_desktop.svg);
  }
  /* princess mimi */
  .princess-mimi-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_princessmimi-bg_desktop.svg);
  }
  /* newsletter */
  .newsletter-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_newsletter_desktop.svg);
  }
}
/* from 992px to 1199px */
@media (min-width: 992px) {
  /* custom */
  .container {
    max-width: 960px;
  }

  /* dropdown body */
  .dropdown-body .service-list {
    margin: 0;
  }
  .dropdown-service {
    display: flex;
    margin-top: 1.5rem;
  }

  /* hero section */
  .hero-section {
    flex-direction: row;
    width: 100%;
  }
  .desktop-hero {
    display: block;
    margin: 0;
  }
  .desktop-hero img {
    border-radius: 50% 0 0 50%;
    height: 800px;
    object-fit: cover;
    position: relative;
    right: -1px;
  }
  .mobile-hero {
    display: none;
  }

  /* brands section */
  .products .owl-nav button.owl-next,
  .brands .owl-nav button.owl-next {
    right: -1.5rem;
  }
  .brands .owl-nav button.owl-prev {
    justify-content: center;
    left: -1.5rem;
  }

  /* video banner section  */
  .vdo-content::before,
  .sales-banner-content::before {
    top: -5%;
    left: -10%;
    transform: rotate(-20deg);
  }
  .vdo-prop {
    right: 5%;
  }

  /* sales banner section */
  .sales-banner-body {
    width: 50%;
    margin-inline: auto;
  }
  .sales-prop-heart {
    top: 280px;
    left: 200px;
  }
  .sales-prop-paitings {
    height: auto;
    width: 20%;
    right: 1%;
    bottom: 0;
    opacity: 1;
  }

  /* about section */
  .about-headings {
    padding-right: 100px;
  }
  .about-body {
    padding-left: 100px;
  }

  /* about banner section */
  .about-mobile-bg {
    display: none;
  }
  .about-desktop-bg {
    display: block;
    height: auto;
    width: 100%;
  }

  /* news section */
  .news-body .owl-carousel .item {
    height: 674px;
  }

  /* newsletter section */
  .newsletter-form,
  .newsletter-content {
    flex-direction: row;
  }
  .newsletter-content .seaction-heading,
  .newsletter-form {
    width: 50%;
  }
  /* footer section */
  .footer-body {
    grid-template-columns: repeat(6, 1fr);
  }
  .footer-navbar ul {
    margin: 0;
    padding: 0;
  }
  .footer-service-nav {
    display: flex;
    justify-content: space-between;
  }

  /* brands page */
  .brands-img-content,
  .brands-text-content {
    width: 40%;
  }
}
/* from 1200 to 1439px */
@media (min-width: 1200px) {
  /* custom */
  .container {
    max-width: 1140px;
  }
  /* navbar */
  .logo-content {
    margin-right: auto;
    margin-left: 24px;
  }
  .menu-list,
  .service-list {
    display: inline-flex;
  }
  .menu-list {
    margin-right: auto;
  }
  .search-icon {
    display: none;
  }

  /* dropdown body */
  .dropdown-body .acc-service {
    display: none;
  }

  /* dropdown search */
  .search-form {
    padding: 3rem 0 4rem;
    width: 75%;
    margin: 0 auto;
  }
  .search-box::placeholder {
    font-size: 1rem;
  }
  .arrow-prop {
    width: 200px;
    position: absolute;
    top: 7rem;
    left: -2rem;
  }

  /* hero section */
  .hero-text-content {
    margin-left: 10%;
    padding: 0;
    width: 80%;
  }
  .hero-bg-prop {
    top: -8rem;
    right: -4.5rem;
  }

  /* footer section */

  .logo-desktop {
    display: block;
  }
  .logo-mobile {
    display: none;
  }

  /* brands page */
  .brands-img-content,
  .brands-text-content {
    width: 41%;
  }
}
/* for device more than 1440px */
@media (min-width: 1440px) {
  /* custom */
  .container {
    max-width: 1320px;
  }

  /* dropdown body  */
  .accordion-body {
    width: 25%;
  }
  .dropdown-carousels {
    width: 75%;
  }

  /* about banner section */
  .about-banner-wave-desktop {
    width: 100%;
  }

  /* news section */
  .news-body .owl-carousel .item {
    height: 788px;
  }

  /* brands page */
  .brands-img-content,
  .brands-text-content {
    width: 43%;
  }
}
