:root {
  --dp-text: hsl(210, 10.81%, 14.51%);
  --dp-orange: hsl(20.29, 92.05%, 70.39%);
  --dp-gray: hsl(0, 0%, 72.16%);
  --dp-blue: hsl(202.22, 29.67%, 82.16%);
}

body {
  font-family: "Radio Canada", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dp-text);
}
main {
  overflow: hidden;
}
/* custom */
.wrapper {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  box-shadow: 0 8px 16px 0 hsla(0, 0%, 60%, 0.25);
  background-color: #fff;
}
.container {
  padding-inline: 1.5rem;
  margin: 0 auto;
}
.brands-content,
.about-content,
.brand-content,
.job-section,
.news-content,
.section,
.products-content {
  padding: 55px 0 150px;
}
.btn {
  padding: 22px 48px;
  font-size: 0.875rem;
  font-weight: 700;
  border: none;
  border-radius: 2rem;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-bottom: 8px;
  margin-right: 8px;
  background-color: #fff;
}
.btn-primary {
  color: #fff;
  background-color: var(--dp-orange);
}
.btn-primary:hover {
  background-color: #fab490;
}
.btn-secondary {
  color: #fff;
  background-color: var(--dp-gray);
}
.btn-secondary:hover {
  background-color: #cacaca;
}
.sub-heading {
  text-transform: uppercase;
  color: var(--dp-orange);
  margin-bottom: 2rem;
  line-height: 1.5;
}
.seaction-heading {
  font-family: Playfair Display, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  padding-bottom: 0.5rem;
  margin: 0;
}
.section-wave {
  background-repeat: no-repeat;
  background-size: cover;
  height: 64px;
  width: 100%;
  position: absolute;
  bottom: -1rem;
  left: 0;
  z-index: 400;
}
.top-model-bg-wave-desktop,
.miss-melody-bg-wave-desktop,
.ylvi-bg-wave-desktop,
.trends-bg-wave-desktop,
.teaser-top-bg-wave-desktop,
.teaser-bottom-bg-wave-desktop,
.dino-world-bg-wave-desktop,
.princess-mimi-bg-wave-desktop,
.newsletter-bg-wave-desktop,
.hero-bg-wave-desktop,
.video-bg-wave-desktop,
.sales-banner-bg-wave-desktop,
.career-banner-bg-wave-desktop,
.newsletter-banner-bg-wave-desktop {
  display: none;
}
.active-link {
  color: var(--dp-orange) !important;
  font-weight: 700 !important;
}
.active-page {
  color: var(--dp-orange) !important;
  font-weight: 400 !important;
}
.text-white {
  color: #fff !important;
}
.bg-orange {
  background-color: #ffcaaf;
}
.bg-blue {
  background-color: var(--dp-blue);
}
.bg-eggblue {
  background-color: #c4d5df;
}
.bg-robin-eggblue {
  background-color: #72e6d8;
}
.bg-lavender {
  background-color: #d1c9df;
}
.bg-columbia {
  background-color: #c8dbdb;
}
.bg-pink {
  background-color: #ff8ddf;
}
.bg-lightgrey {
  background-color: #f9f9f9;
}
.bg-green {
  background-color: #8eb85b;
}
.bg-lightpink {
  background-color: #fdadd0;
}
.bg-violet {
  background-color: #b7a0eb;
}
.owl-nav {
  width: 100%;
}
.brands .owl-nav button.owl-prev,
.brands .owl-nav button.owl-next,
.brands-dropdown .owl-nav button.owl-prev,
.brands-dropdown .owl-nav button.owl-next,
.news .owl-nav button.owl-prev,
.news .owl-nav button.owl-next,
.dropdown-products .owl-nav button.owl-prev,
.dropdown-products .owl-nav button.owl-next,
.categories .owl-nav button.owl-prev,
.categories .owl-nav button.owl-next,
.products .owl-nav button.owl-prev,
.products .owl-nav button.owl-next {
  height: 3rem;
  width: 3rem;
  display: inline-flex;
  align-items: center;
  border-radius: 4rem;
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 40%, 0.25);
  background-color: #fff !important;
  z-index: 111;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
}
.owl-nav button.owl-prev:hover,
.owl-nav button.owl-next:hover {
  opacity: 1;
}
.owl-nav button i {
  color: var(--dp-orange);
}
.owl-nav button.owl-prev {
  justify-content: center;
  left: -1.5rem;
}
.owl-nav button.owl-next {
  right: -1.5rem;
}
.owl-nav button.owl-next i {
  padding-left: 10px;
}
.dropdown-container,
.search-container {
  position: fixed;
  top: -50rem;
  left: 0;
  z-index: 11111;
  transition: all 0.5s ease-out;
  width: 100%;
  background-color: #fff;
}
.banner-prop {
  position: absolute;
  bottom: -6%;
  right: 0;
  width: 100px;
  z-index: 1000;
}
.brand .banner-prop {
  bottom: 0;
}
.text-center {
  text-align: center;
}
.info-box p {
  margin-block: 1.5rem;
  font-weight: 300;
  line-height: 2;
  color: #666;
}
.inactive-products {
  opacity: 0.4;
}
.padding-top-contact {
  padding-top: 155px;
}

/* header */
header {
  margin: 0 auto;
}
/* navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  max-width: 1632px;
  height: 64px;
  margin: 0 auto;
  width: calc(100% - 48px);
  border-radius: 2rem;
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 60%, 0.1);
  padding: 6px 14px;
  background: #fff;
  position: fixed;
  right: 0;
  left: 0;
  top: 16px;
  transition: all 0.4s;
  z-index: 1111;
}
.breadcrumb {
  padding-inline: 10px;
  padding-block: 6px;
  border-radius: 5rem;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: all 0.3s ease;
}
.breadcrumb:hover {
  background-color: var(--dp-orange);
}
.fa-bars {
  color: var(--dp-orange);
  font-size: 1rem;
  transition: all 0.3s ease;
}
.breadcrumb:hover .fa-bars {
  color: #fff;
}
.logo {
  height: 40px;
}
.menu-list,
.service-list {
  display: none;
  align-items: center;
  list-style: none;
  margin: 0;
}
.service-list .icon,
.search-icon .icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: var(--dp-orange);
  position: relative;
  top: 3px;
}
.nav-link {
  text-decoration: none;
  color: #666;
  font-weight: 300;
  padding: 8px 16px;
  transition: all 0.15s ease-in-out;
  position: relative;
}
.nav-link::after {
  transition: all 0.3s ease-out;
  content: "";
  height: 2px;
  background-color: var(--dp-orange);
  width: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
}
.nav-link:hover::after {
  opacity: 1;
  width: 60%;
}

/* dropdown navbar */
.dropdown-navbar {
  display: flex;
  justify-content: space-between;
  padding-block: 1.5rem;
}
.close-btn {
  height: 2rem;
  width: 2rem;
  background-color: var(--dp-orange);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-size: 11px;
  cursor: pointer;
}
.dropdown-navbar .logo-content {
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
}
.accordion-body {
  padding-block: 1.25rem;
}
.dropdown-container .accordion-item {
  border-top: 1px solid #c4d5df;
}
.dropdown-container .accordionBtn {
  background-color: #fff;
  color: #000;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  font-family: Playfair Display, sans-serif;
  cursor: pointer;
  padding: 1rem 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: all 0.4s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dd-chevron {
  font-size: 1.25rem;
  color: var(--dp-orange);
  transition: all 0.4s ease-out;
}
.panel {
  padding: 1rem 1.5rem;
  background-color: white;
  display: none;
  overflow: hidden;
  transition: all 0.4s ease-out;
}
.panel ul {
  list-style: none;
  font-size: 0.875rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.panel ul li a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
  font-weight: 300;
  transition: all 0.3s ease-out;
}
.panel ul li a:hover {
  color: var(--dp-orange);
}
.panel ul li a strong {
  font-weight: 600;
}

/* dropdown body  */
.dropdown-container {
  top: -100rem;
  height: 100%;
  overflow-y: scroll;
}
.dropdown-body {
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
  height: 100%;
}
.accordion-body,
.dropdown-carousels {
  padding: 0 0.5rem;
}
.accordion-body {
  margin-bottom: 1.5rem;
}
.dropdown-body .service-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
  gap: 1rem;
  margin: 1.5rem 0 1rem;
  font-size: 0.875rem;
}
.dropdown-carousels {
  width: 100%;
}
.dropdown-carousels .brands-content {
  padding: 0;
}

/* search container */
.search-container {
  top: -50rem;
}
.search-body {
  padding-block: 1.5rem;
  position: relative;
}
.search-heading {
  text-align: center;
}
.search-form {
  margin: 0 1rem 1rem;
  width: 100%;
  position: relative;
}
.search-box {
  background-color: #f4f4f4;
  border: none;
  border-radius: 2rem;
  padding-left: 1.5rem;
  padding-right: 70px;
  width: 100%;
  height: 65px;
}
.search-box::placeholder {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.search-box:focus-visible {
  outline: none;
}
.search-btn {
  position: absolute;
  background-color: var(--dp-orange);
  border: none;
  height: 64px;
  width: 66px;
  right: 0;
  border-radius: 0 2rem 2rem 0;
}
.dropdown-search-icon {
  font-size: 21px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-prop {
  width: 120px;
  position: absolute;
  top: -1rem;
  left: -2rem;
}

/* hero section */
.hero-section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.hero-img-content {
  width: 100%;
  height: auto;
}
.img-container {
  width: 100%;
  margin: 0;
}
.desktop-hero {
  display: none;
}
.hero-img-content img {
  width: 100%;
  object-fit: unset;
}
.hero-text-content {
  padding: 2.5rem 1.5rem 6rem;
  width: 100%;
  position: relative;
}
.hero-text-container {
  max-width: 528px;
  margin: 0 auto;
}
.hero-title {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}
.hero-text {
  font-weight: 300;
  color: #000;
  margin-bottom: 3rem;
}
.fa-chevron-right {
  transition: all 0.3s ease-in-out;
  transform: translateX(10px);
}
.btn:hover .fa-chevron-right {
  transform: translateX(20px);
}
.hero-bg-prop,
.hero-bg-prop-2 {
  position: absolute;
  width: 120px;
  z-index: 100;
}
.hero-bg-prop {
  top: -80rem;
  right: 0;
}
.hero-bg-prop-2 {
  bottom: -7rem;
  left: -2rem;
}
.brand .hero-bg-prop-2 {
  bottom: 0;
  left: 0;
}

.hero-bg-wave-mobile {
  background-image: url(../assets/waves/wave_white_mobile.svg);
}

/* brands */
.brands {
  padding-block: 2rem;
}
.brands .owl-stage {
  width: 100%;
  padding-top: 1rem;
}
.brands img {
  transition: all 0.3s ease-out;
}
.brands figure:hover img {
  transform: scale(1.05);
}
.btn-center {
  display: flex;
  justify-content: center;
}

/* video banner section */
.vdo-content {
  text-align: center;
  background-color: var(--dp-blue);
  padding: 80px 0 120px;
  overflow: hidden;
  position: relative;
}
.vdo-content::before,
.sales-banner-content::before,
.social-banner-content::before {
  content: "";
  background-color: #ffcaaf;
  width: 25%;
  height: 120%;
  position: absolute;
  z-index: 100;
  top: -20%;
  left: -20%;
  transform: rotate(12deg);
}
.vdo-content .sub-heading,
.sales-banner-content .sub-heading,
.social-banner-content .sub-heading {
  color: #fff;
}
.vdo-content .seaction-heading,
.sales-banner-content .seaction-heading,
.social-banner-content .seaction-heading {
  font-weight: 700;
  margin-bottom: 2rem;
}
.vdo-content video {
  width: 100%;
  max-width: 680px;
  position: relative;
  z-index: 200;
}
.video-bg-wave-mobile {
  background-image: url(../assets/waves/wave_grey_mobile.svg);
}
.vdo-prop {
  position: absolute;
  width: 100px;
  bottom: -1rem;
  right: 0;
  z-index: 500;
}

/* teaser section */
.teaser-container {
  position: relative;
}
.teaser-headings {
  padding-top: 55px;
}
.teaser-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 70px 0 140px;
}
.teaser-img-holder {
  margin-bottom: 0px;
}
.team-teaser .teaser-img {
  margin-top: 0;
}
.teaser-img {
  width: 100%;
  height: auto;
  margin-top: -42px;
}
.teaser-text {
  font-weight: 300;
  color: #666;
  padding: 1.5rem 0 3rem;
  line-height: 2;
}

/* products section */
.products .owl-stage,
.dropdown-products .owl-stage {
  padding: 40px 0 50px;
}
.products .item,
.dropdown-products .item {
  padding: 1rem;
  min-height: 272px;
}
.products .product,
.dropdown-products .product {
  overflow: visible;
  text-decoration: none;
}
.products .product figure,
.dropdown-products .product figure {
  margin-bottom: -2rem;
  position: relative;
  top: -46px;
}
.product-title {
  color: #fff;
  font-family: Playfair Display, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.27;
}

/* sales banner section */
.sales-banner-content,
.social-banner-content {
  padding-block: 5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.sales-banner-text {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 3rem;
  color: #666;
}
.sales-btn {
  color: var(--dp-orange);
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  margin-left: 0.5rem;
}
.sales-btn:hover {
  color: white;
  background-color: #d9d9d9;
}
.sales-banner-bg-wave-mobile {
  background-image: url(../assets/waves/wave_lightgrey2-bg_mobile.svg);
}
.sales-prop-heart,
.sales-prop-paitings,
.sales-prop-girls {
  position: absolute;
}
.sales-prop-heart {
  width: 100px;
  top: 85px;
  left: 0;
  z-index: 200;
}
.sales-prop-paitings,
.sales-prop-girls {
  z-index: 50;
  opacity: 0;
}

/* about section */
.about-text {
  font-weight: 300;
  margin-block: 1.5rem;
  color: #666;
  line-height: 2;
}

/* about banner section */
.about-container {
  position: relative;
  /* overflow-x: hidden; */
}
.about-container figure {
  margin: 0;
}
.about-mobile-bg {
  height: 450px;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 100;
}
.about-desktop-bg {
  display: none;
}
.about-banner-body {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}
.about-body-content {
  position: absolute;
  width: 100%;
  max-width: 680px;
  padding-inline: 1.5rem;
}
.about-banner-text {
  font-size: 1.25rem;
  font-family: Playfair Display, sans-serif;
  line-height: 1.63;
  color: #fff;
  margin-bottom: 2rem;
}
.about-banner-wave-mobile,
.about-banner-wave-desktop {
  position: absolute;
  bottom: -1rem;
  left: 0;
  z-index: 400;
  object-fit: cover;
}
.about-banner-wave-desktop {
  display: none;
}

/* news section */
.news-body {
  padding-block: 3rem;
}
.news-body .owl-carousel {
  display: flex;
  flex-wrap: wrap;
}
.news-body .owl-carousel .item,
.news-container .item {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 60%, 0.25);
  max-height: 963px;
  margin: 0 8px 20px;
}
.news-item-img-content {
  height: 228px;
  overflow: hidden;
}
.news-item-img {
  height: 228px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-out;
}
.news-item-img:hover {
  transform: scale(1.2);
}
.news-item-text-content {
  padding: 1.5rem;
}
.news-date {
  margin-bottom: 26px;
  color: #666;
}
.news-title {
  font-family: Playfair Display, sans-serif;
  font-weight: 500;
  line-height: 1.45;
}
.news-title a {
  color: #000;
  font-size: 22px;
  text-decoration: none;
}
.news-text {
  font-weight: 300;
  color: #666;
  line-height: 2.13;
  margin-bottom: 2rem;
}
.news-btn {
  color: var(--dp-orange);
  padding: 0;
  margin: 0;
}

/* career teaser section */
.career-teaser-item,
.service-teaser-item {
  position: relative;
}
.teaser-bottom-bg-wave-mobile {
  background-image: url(../assets/waves/wave_white_mobile.svg);
}
.career-container {
  position: relative;
}
.career-banner-bg-wave-mobile {
  background-image: url(../assets/waves/wave_newsletter_mobile.svg);
}
/* newsletter section */
.newsletter-container {
  position: relative;
  z-index: 100;
  background-color: var(--dp-blue);
}
.newsletter-content {
  padding: 55px 1.5rem 75px;
}
.newsletter-content .seaction-heading {
  margin-bottom: 1.5rem;
}
.newsletter-form,
.newsletter-content {
  display: flex;
  flex-direction: column;
}
.newsletter-input {
  padding: 22px 24px;
  border: 0;
  background-color: #f4f4f4;
  border-radius: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  width: 100%;
  margin-right: 1.5rem;
}
.newsletter-input::placeholder {
  font-size: 0.875rem;
  text-transform: uppercase;
}
.newsletter-input:focus-visible {
  outline: 0;
}
.newsletter-banner-bg-wave-mobile {
  background-image: url(../assets/waves/wave_footer_mobile.svg);
}
.newsletter-prop {
  width: 150px;
  position: absolute;
  top: 45%;
  left: 40%;
}

/* footer */
footer {
  padding: 2rem 0 1.125rem;
  background-color: #ffcaaf;
}
footer ul {
  list-style: none;
}
footer hr {
  border-color: #f9f9f9;
}
footer a,
footer p,
footer strong,
footer span {
  text-decoration: none;
  font-size: 0.8125rem;
  color: #333;
  transition: all 0.3s ease-out;
}
footer a:hover {
  color: #fff;
}
footer a,
footer p,
footer span {
  font-weight: 300;
}
footer strong {
  font-weight: 600;
}
footer p {
  margin-bottom: 0.625rem;
}
.footer-body {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 0.75rem;
}
.footer-logo {
  height: 2.5rem;
}
.footer-navbar {
  margin-block: 1.5rem;
  text-align: center;
}
.footer-navbar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 300;
  column-gap: 2rem;
  transition: all 0.3s ease-out;
}
.footer-navbar span {
  display: none;
}
.footer-navbar .icon {
  font-size: 25px;
  color: var(--dp-orange);
  transition: all 0.3s ease-out;
}
.footer-navbar .icon:hover {
  color: #fff;
}
.logo-desktop {
  display: none;
}
.logo-mobile {
  text-align: center;
}
.copyright {
  font-size: 0.75rem;
  text-align: center;
}

/* brands page */
.brand-content {
  display: flex;
  flex-direction: column;
}
.brand-img {
  width: 100%;
}
.brand-text {
  padding-block: 1.5rem;
  font-weight: 300;
  line-height: 2;
  text-align: start;
}
.top-model .brands-text-content,
.top-model .sub-heading,
.dino-world .brands-text-content,
.dino-world .sub-heading,
.princess-mimi .brands-text-content,
.princess-mimi .sub-heading {
  color: #fff;
}
.brand {
  position: relative;
}
.brand-wave {
  background-repeat: no-repeat;
  background-size: cover;
  height: 64px;
  width: 100%;
  position: absolute;
  top: -3rem;
  left: 0;
  z-index: 400;
}
/* teaser wave */
.teaser-top-bg-wave-mobile {
  background-image: url(../assets/waves/wave_lightgrey2-bg_mobile.svg);
}
/* top model */
.top-model-bg-wave-mobile {
  background-image: url(../assets/waves/wave_topmodel-bg_mobile.svg);
}
/* miss melody */
.miss-melody-bg-wave-mobile,
.ylvi-bg-wave-mobile,
.trends-bg-wave-mobile {
  background-image: url(../assets/waves/wave_white_mobile.svg);
}
/* dino world */
.dino-world-bg-wave-mobile {
  background-image: url(../assets/waves/wave_dinoworld-bg_mobile.svg);
}
/* princess mimi */
.princess-mimi-bg-wave-mobile {
  background-image: url(../assets/waves/wave_princessmimi-bg_mobile.svg);
}
/* newsletter */
.newsletter-bg-wave-mobile {
  background-image: url(../assets/waves/wave_newsletter_mobile.svg);
}
/* mugs */
.mugs-bg-wave-mobile {
  background-image: url(../assets/waves/wave_lightgrey2-bg_mobile.svg);
}

/* categories section */
.categories {
  text-align: center;
}
.categories .owl-stage-outer {
  padding-block: 30px;
}
.categories .item figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.category-img {
  max-width: 80px;
  transition: all 0.3s ease-out;
}
.categories .item a {
  text-decoration: none;
}
.category-name {
  font-size: 0.875rem;
  color: #333;
  line-height: 17px;
  transition: all 0.3s ease-out;
}
.categories .item:hover .category-name {
  color: var(--dp-orange);
}
.categories .item:hover .category-img {
  opacity: 1;
}

/* search section */
.sorting-content {
  width: 100%;
}
.custom-sort {
  margin-left: auto;
  width: 100%;
  position: relative;
}
.sort-label,
.sorting {
  background-color: #f4f4f4;
  font-weight: 300;
}

.sorting {
  color: #333;
}
.sort-label {
  padding: 4px;
  border-radius: 4px;
  font-size: 0.75rem;
  text-transform: uppercase;
  position: absolute;
  top: -0.75rem;
  left: 2rem;
  color: #999;
  transition: all 0.3s ease-out;
}
.sort-icon {
  position: absolute;
  font-size: 1.5rem;
  color: var(--dp-orange);
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.sorting {
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 2rem;
  padding: 1.375rem 1.5rem;
  border: none;
  width: 100%;
  appearance: none;
}
.sorting:focus {
  outline: 0;
}

/* filter accordion */
.search-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 150px;
}
.search-body .accordion-body {
  border: 1px solid hsla(0, 0%, 72.2%, 0.25);
  padding: 3rem 2rem 2rem;
  height: min-content;
  width: 100%;
  margin: 0;
}
.search-content .filterBtn {
  background-color: #fff;
  color: #333;
  font-size: 0.875rem;
  line-height: 1.4;
  cursor: pointer;
  padding: 5px 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: all 0.4s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-body .panel {
  padding: 0;
}
.product-category {
  display: inline-flex;
  align-items: center;
}
/* for custom checkbox */
[type="checkbox"].category-check {
  margin: 0;
  width: 0;
  height: 0;
  display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
[type="checkbox"].category-check + label:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 1rem;
  width: 1rem;
  margin-inline: 0.5em;
  margin-top: 0.11rem;
  color: rgba(0, 0, 0, 0.25);
  border: solid 0.06em;
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset,
    0 0 0 0.07em transparent inset;
  border-radius: 0.2em;
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>')
      no-repeat center,
    white;
  background-size: 0;
  will-change: color, border, background, background-size, box-shadow;
  transform: translate3d(0, 0, 0);
  transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
}
[type="checkbox"].category-check:checked + label:before {
  background-color: var(--dp-orange);
  background-size: 0.75em;
  color: rgba(0, 0, 0, 0.075);
}
[type="checkbox"].category-check:focus + label:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0) inset, 0 0 0 3.3px rgba(249, 157, 110, 0.3),
    0 0 0 5px rgba(249, 157, 110, 0.1);
}
.search-body .panel ul {
  gap: 0.375rem;
  margin-block: 1rem;
}
.search-body .panel li a {
  padding: 0;
}
.search-body .panel ul li a:hover {
  color: #212529;
}
.category-btn {
  width: 100%;
}
.category-btn,
.product-search {
  border: none;
  font-size: 13px;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
}
.product-search {
  background-color: #f4f4f4;
  color: #212529;
  margin-block: 1rem;
  width: 100%;
}
.product-search:focus {
  outline: 0;
}
.search-result {
  width: 100%;
}
.search-item-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}
.search-item {
  border: 1px solid hsla(0, 0%, 72.2%, 0.25);
  padding: 1rem;
  position: relative;
}
.new-product {
  padding: 0.25rem 0.5rem;
  background-color: var(--dp-orange);
  border-radius: 2rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: #fff;
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  line-height: 1;
}
.product-img {
  width: 100%;
  max-width: 292px;
  height: auto;
}
.age-item {
  display: inline-flex;
  align-items: center;
  gap: 0.75em;
}
.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  display: block;
}
/* for round checkbox */
.round input[type="checkbox"] {
  visibility: hidden;
  display: none;
  opacity: 0;
}
.round input[type="checkbox"]:checked + label {
  background-color: var(--dp-orange);
  border-color: var(--dp-orange);
}
.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
/* custom round checkbox */
.checkbox-text {
  font-size: 0.875rem;
  font-weight: 300;
  color: #333;
}
/* Customize the label (the container) */
.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 1.75rem;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 1rem;
  width: 1rem;
  margin-left: 0.25rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.checkbox-container .checkmark:after {
  top: -1px;
  left: -1px;
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 50%;
  background: var(--dp-orange);
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0) inset, 0 0 0 3.3px rgba(249, 157, 110, 0.3),
    0 0 0 5px rgba(249, 157, 110, 0.1);
}
.product-info a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  min-height: 54px;
  line-height: 1.34;
  display: block;
  margin-block: 1rem;
}
.product-info span {
  font-size: 0.875rem;
  font-weight: 300;
  color: #666;
}
.search-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
  padding-top: 2rem;
}
/* pagination */
.pagination-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination-item {
  height: 2rem;
  min-width: 2rem;
  border-radius: 5rem;
  font-size: 0.75rem;
  line-height: 2rem;
  padding: 0 8px;
  background-color: var(--dp-gray);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.current-page {
  background-color: var(--dp-orange);
}
.search-footer .custom-sort {
  margin: 0;
}

/* career teaser container */
.career-teaser-container {
  padding-top: 55px;
}

/* job section */
.job-head,
.job-item {
  display: none;
  border-bottom: 1px solid #c4d5df;
  padding-block: 30px;
  align-items: center;
}
.job-item,
.job-details {
  display: flex;
  width: 100%;
}
.job-item {
  flex-direction: column;
  font-weight: 300;
}
.col-8 {
  width: 100%;
}
.col-2 {
  width: 50%;
}
.job-section .job-btn {
  color: var(--dp-orange);
  text-decoration: none;
  font-weight: 300;
}
.job-section .btn {
  padding: 0;
}
.job-item strong {
  color: #666;
  font-weight: 600;
}
.job-type {
  margin-bottom: 1.5rem;
}

/* social banner section */
.social-banner-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 80px;
}
.social-btn {
  height: 3rem;
  width: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  background-color: #fff;
  color: var(--dp-orange);
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.social-icon {
  font-size: 25px;
}
.social-btn:hover {
  background-color: var(--dp-orange);
  color: #fff;
}

/* horsey creative page */
.horsey-list {
  list-style: none;
  padding-left: 1.25rem;
}
.horsey-list li {
  display: flex;
  gap: 0.625rem;
  line-height: 1.9;
}
.horsey-list li span {
  padding-top: 0.125rem;
  color: var(--dp-orange);
}

/* who we are */
.text-body {
  margin: 20px 0;
}
.text-body h2,
.text-body h4 {
  margin-bottom: 0.5rem;
  font-family: Playfair Display, sans-serif;
  font-weight: 500;
  line-height: 1.4;
}
.text-body p {
  color: #666;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2.13;
  margin: 1.5rem 0;
}
.text-body a,
.about-text a {
  text-decoration: none;
  color: var(--dp-orange);
}
blockquote {
  margin: 0 0 1rem;
}
.text-box blockquote p {
  margin: 5rem 0 0;
  font-family: Playfair Display, sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.63;
  text-align: center;
  color: #f99d6e;
}
.text-body strong {
  font-weight: 600;
}
.team-list li {
  color: var(--dp-orange);
  font-weight: 300;
}

/* timeline faq */
.timeline {
  list-style: none;
  position: relative;
  padding: 0;
}
.timeline li {
  position: relative;
  top: -30px;
  margin-bottom: 20px;
}
.timeline::before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 4px;
  left: 0.5rem;
  margin-left: -1.5px;
  background-image: linear-gradient(
    180deg,
    #ffcaaf 50%,
    hsla(0, 0%, 100%, 0) 0
  );
  background-position: 0;
  background-size: 4px 20px;
  background-repeat: repeat-y;
}
.timeline-badge,
.timeline-badge-end {
  position: absolute;
  background-color: #ffcaaf;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  z-index: 100;
  left: 1.5rem;
  margin-left: -2rem;
}
.timeline-badge {
  top: 0;
}
.timeline-badge-end {
  bottom: -30px;
}
.timeline-panel {
  width: calc(100% - 50px);
  margin-left: auto;
  height: auto;
}
.timeline-heading {
  font-size: 22px;
  color: #000;
  margin-bottom: 0.5rem;
  font-family: Playfair Display, sans-serif;
}
.timeline-text {
  font-size: 1rem;
  font-weight: 300;
  color: #666;
  line-height: 2.13;
}

/* news detail */
.news-detail {
  padding-top: 128px;
  margin-bottom: 30px;
  position: relative;
}
.news-breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
  display: inline-flex;
  gap: 0.5rem;
  font-size: 0.875rem;
}
.news-detail p {
  margin-bottom: 28px;
}
.news-img {
  width: 100%;
}
.news-detail .btn-container {
  margin: 3rem 0 1.5rem;
}
.news-detail .btn {
  display: inline;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown span {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.29;
  color: #333;
}
.dropdown .fa-sort-down {
  color: var(--dp-orange);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0;
  z-index: 1;
  list-style: none;
}
.dropdown-content li {
  padding: 0.25rem 1rem;
  transition: all 0.3s ease-out;
}
.dropdown-content li:hover {
  background-color: #e9ecef;
}
.dropdown-content a {
  text-decoration: none;
  color: #333;
}
.news-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 3rem;
}

/* contact section */
.contact-info p {
  line-height: 2.13;
  color: #666;
  font-weight: 300;
}
.contact-info a {
  text-decoration: none;
  color: var(--dp-orange);
}
.contact-form .custom-sort {
  margin: 0 0 2rem;
  min-height: 74px;
}
.contact-form .custom-select .sort-label,
.contact-form .custom-sort .sort-label {
  background-color: transparent;
  position: static;
  font-size: 0.875rem;
  display: block;
}
.contact-form .custom-sort .sort-icon {
  top: 65%;
}
.contact-list {
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  margin-bottom: 2rem;
}
.contact-inputs,
.double-input {
  display: flex;
  flex-direction: column;
}
.custom-input {
  position: relative;
  margin-bottom: 2rem;
}
.simple-input {
  padding: 22px 24px;
  border: none;
  background: #f4f4f4;
  border-radius: 2rem;
  width: 100%;
}
.simple-input:focus {
  outline: none;
}
.contact-inputs .custom-input .sort-label {
  top: -0.75rem;
  left: 1.5rem;
  display: none;
  transition: all 0.3s ease-out;
}
.custom-input .simple-input:focus + .sort-label {
  display: inline-block;
  transition: all 0.3s ease-out;
}
.custom-input .simple-input::placeholder {
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #999;
}
.custom-textarea {
  display: grid;
  margin-bottom: 2rem;
}
.textarea-label,
.file-label {
  padding: 4px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #999;
  transition: all 0.3s ease-out;
}
.custom-textarea .simple-input {
  min-height: 150px;
}
.contact-inputs {
  width: 100%;
}
.file-input {
  position: relative;
}
.file-input input {
  opacity: 0;
  position: absolute;
}
.file-label {
  position: absolute;
  top: 50%;
  width: 100%;
  min-height: 100%;
  background-color: #f4f4f4;
  padding: 22px 24px;
  border-radius: 2rem;
}
.file-input-text {
  position: absolute;
  top: 1.25rem;
  left: 30%;
  font-weight: 300;
  color: #999;
  margin: 0;
}
.fa-upload {
  position: absolute;
  right: 1rem;
  top: 1.25rem;
  font-size: 1.5rem;
  color: var(--dp-orange);
}
.agreement {
  margin-top: 4rem;
}
.agreement label {
  font-size: 0.875rem;
  color: #666;
  font-weight: 300;
}
.agreement a {
  color: var(--dp-orange);
  text-decoration: none;
}
.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-footer span {
  font-size: 0.875rem;
  font-weight: 300;
  color: #666;
}
