/* from 576px to 767px */
@media (min-width: 576px) {
  /* custom */
  .container {
    max-width: 540px;
    padding-inline: 0;
  }

  /* dropdown body  */
  .dropdown-body {
    flex-direction: row;
    gap: 0.75rem;
  }
  .accordion-body,
  .dropdown-carousels {
    width: 50%;
  }

  /* products page */
  /* filter accordion */
  .search-item-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* latest news  */
  .news-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* job details page */
  .job-post-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .job-post-img-container {
    width: 40%;
  }
  .job-post-text-container {
    width: 60%;
  }
  .job-post-title {
    margin-block: 0.5rem;
    text-transform: uppercase;
  }
  .job-post-text-container .hero-title {
    margin-bottom: 0.5rem;
  }
}
/* from 768px to 991px */
@media (min-width: 768px) {
  /* custom */
  .container {
    max-width: 720px;
  }
  .top-model-bg-wave-mobile,
  .miss-melody-bg-wave-mobile,
  .ylvi-bg-wave-mobile,
  .trends-bg-wave-mobile,
  .teaser-top-bg-wave-mobile,
  .teaser-bottom-bg-wave-mobile,
  .dino-world-bg-wave-mobile,
  .princess-mimi-bg-wave-mobile,
  .newsletter-bg-wave-mobile,
  .hero-bg-wave-mobile,
  .video-bg-wave-mobile,
  .sales-banner-bg-wave-mobile,
  .mugs-bg-wave-mobile,
  .career-banner-bg-wave-mobile,
  .newsletter-banner-bg-wave-mobile {
    display: none;
  }

  /* dropdown body  */
  .accordion-body {
    width: 40%;
    padding-inline: 0.75rem;
  }
  .dropdown-carousels {
    width: 60%;
    padding-inline: 0.75rem;
  }
  .dropdown-body .service-list {
    flex-direction: row;
    margin: 1.5rem 0 0;
  }
  .dropdown-body .language-list {
    margin: 0;
  }

  /* hero section */
  .hero-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_white_desktop.svg);
  }

  /* brands */
  .brands .owl-nav button.owl-next {
    right: -1rem;
  }
  .brands .owl-nav button.owl-prev {
    justify-content: center;
    left: -1rem;
  }

  /* teaser section */
  .teaser-item {
    flex-direction: row;
  }
  .team-teaser .teaser-img {
    margin-top: 0;
  }
  .teaser-img-content {
    width: 40%;
  }
  .service-teaser-item .teaser-img-content {
    padding-top: 2rem;
    width: 42.5%;
  }

  .teaser-img-holder {
    padding: 2rem;
  }
  .teaser-img {
    margin-top: -64px;
  }
  .teaser-text-content {
    width: 50%;
  }
  .service-teaser-item .teaser-text-content {
    width: 42.5%;
  }
  .teaser-bottom-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_white_desktop.svg);
  }
  /* video banner section */

  .video-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_grey_desktop.svg);
  }

  /* sales banner section */
  .sales-banner-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_lightgrey2-bg_desktop.svg);
  }

  /* about section */
  .about-content {
    display: flex;
    justify-content: space-between;
  }
  .about-headings,
  .about-body {
    width: 50%;
  }
  .about-headings {
    padding-right: 2.5rem;
  }
  .about-body {
    padding-left: 2.5rem;
    border-left: 1px solid #c8dbdb;
  }

  /* about banner section */
  .about-banner-text {
    font-size: 2rem;
  }
  .about-banner-wave-desktop {
    display: block;
  }
  .about-banner-wave-mobile {
    display: none;
  }

  /* news section */
  .news-body .owl-carousel .item {
    height: 813px;
  }

  /* career teaser section */
  .career-banner-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_newsletter_desktop.svg);
  }

  /* newsletter section */
  .newsletter-banner-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_footer_desktop.svg);
  }

  /* footer section */
  .footer-body {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-navbar span {
    display: block;
  }
  .social-link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  .footer-navbar .icon {
    font-size: 1rem;
  }

  /* brands page */
  .brand-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .miss-melody .brand-content,
  .all-models .brand-content,
  .accesories-school .brand-content,
  .sticking .brand-content,
  .bags .brand-content,
  .moments .brand-content,
  .raingbow-gifts .brand-content,
  .backpack .brand-content,
  .back-to-school,
  .beauty-teaser,
  .be-creative,
  .team,
  .sustainability,
  .newsletter,
  .FAQ,
  .nursery-teaser,
  .ylvi .brand-content {
    flex-direction: row-reverse;
  }
  .brands-img-content,
  .brands-text-content {
    width: 45%;
  }
  /* teaser top wave */
  .teaser-top-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_lightgrey2-bg_desktop.svg);
  }
  /* top model */
  .top-model-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_topmodel-bg_desktop.svg);
  }
  /* miss melody */
  .miss-melody-bg-wave-desktop,
  .ylvi-bg-wave-desktop,
  .trends-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_white_desktop.svg);
  }
  /* dino world */
  .dino-world-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_dinoworld-bg_desktop.svg);
  }
  /* princess mimi */
  .princess-mimi-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_princessmimi-bg_desktop.svg);
  }
  /* newsletter */
  .newsletter-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_newsletter_desktop.svg);
  }
  /* mugs */
  .mugs-bg-wave-desktop {
    display: block;
    background-image: url(../assets/waves/wave_lightgrey2-bg_desktop.svg);
  }
  /* who we are */
  .text-box blockquote p {
    margin: 0;
  }
  /* contact */
  .contact-section {
    display: flex;
  }
  .contact-info {
    width: 25%;
  }
  .contact-form {
    width: 75%;
  }
  .contact-form .custom-sort {
    width: calc(50% - 16px);
  }
  .newsletter .contact-form,
  .complaint .contact-form {
    width: 100%;
  }
  .contact-inputs,
  .double-input {
    flex-direction: row;
    gap: 2rem;
  }
  .double-input .zip-input {
    width: 40%;
  }
  .double-input .city-input {
    width: 60%;
  }
  .complaint .double-input .zip-input {
    width: 50%;
  }
  .complaint .double-input .city-input {
    width: 50%;
  }
  .custom-input,
  .double-input {
    width: 50%;
  }
  .newsletter .custom-input {
    width: 100%;
  }
  .complaint .custom-input {
    width: 50%;
  }
  .contact-list {
    flex-direction: row;
  }
  .file-label {
    width: calc(100% - 1rem);
  }
  .complaint .alert-notice {
    width: calc(50% - 1rem);
  }
  .fa-upload {
    right: 2rem;
  }
  .product-information .product-info-title-list {
    width: 30%;
  }
  .product-information .product-info-description-list {
    width: 70%;
  }
}
/* from 992px to 1199px */
@media (min-width: 992px) {
  /* custom */
  .container {
    max-width: 960px;
  }
  .banner-prop {
    right: 5%;
  }
  .brand .banner-prop {
    right: 0;
  }

  /* dropdown body */
  .dropdown-body .service-list {
    margin: 0;
  }
  .dropdown-service {
    display: flex;
    margin-top: 1.5rem;
  }

  /* hero section */
  .hero-section {
    flex-direction: row;
    width: 100%;
  }
  .desktop-hero {
    display: block;
    margin: 0;
  }
  .desktop-hero img {
    border-radius: 50% 0 0 50%;
    height: 800px;
    object-fit: cover;
    position: relative;
    right: -1px;
  }
  .mobile-hero {
    display: none;
  }

  /* brands section */
  .products .owl-nav button.owl-next,
  .brands .owl-nav button.owl-next {
    right: -1.5rem;
  }
  .brands .owl-nav button.owl-prev {
    justify-content: center;
    left: -1.5rem;
  }

  /* video banner section  */
  .vdo-content::before,
  .sales-banner-content::before {
    top: -5%;
    left: -10%;
    transform: rotate(-20deg);
  }
  .social-banner-content::before {
    top: -20%;
    left: -10%;
    transform: rotate(20deg);
  }
  .vdo-prop {
    right: 5%;
  }

  /* sales banner section */
  .sales-banner-body {
    width: 50%;
    margin-inline: auto;
  }
  .sales-prop-heart {
    top: 280px;
    left: 200px;
  }
  .sales-prop-paitings,
  .sales-prop-girls {
    height: auto;
    bottom: 0;
    opacity: 1;
  }
  .sales-prop-paitings {
    width: 20%;
    right: 1%;
  }
  .sales-prop-girls {
    width: 37%;
    right: -2%;
  }

  /* about section */
  .about-headings {
    padding-right: 100px;
  }
  .about-body {
    padding-left: 100px;
  }

  /* about banner section */
  .about-mobile-bg {
    display: none;
  }
  .about-desktop-bg {
    display: block;
    height: auto;
    width: 100%;
  }

  /* news section */
  .news-body .owl-carousel .item {
    height: 674px;
  }

  /* newsletter section */
  .newsletter-form,
  .newsletter-content {
    flex-direction: row;
  }
  .newsletter-content .seaction-heading,
  .newsletter-form {
    width: 50%;
  }
  /* footer section */
  .footer-body {
    grid-template-columns: repeat(6, 1fr);
  }
  .footer-navbar ul {
    margin: 0;
    padding: 0;
  }
  .footer-service-nav {
    display: flex;
    justify-content: space-between;
  }

  /* brands page */
  .brands-img-content,
  .brands-text-content {
    width: 40%;
  }

  /* products page */

  /* search section */
  .custom-sort {
    width: 32%;
  }
  .newsletter .contact-form {
    width: 100%;
  }
  /* filter accordion */
  .search-body {
    flex-direction: row;
  }
  .search-body .accordion-body {
    width: 33%;
  }
  .search-result {
    width: 77%;
  }
  .search-footer {
    flex-direction: row;
  }

  /* job section */
  .job-head {
    display: flex;
  }
  .col-8 {
    width: 60%;
  }
  .job-item {
    flex-direction: row;
  }
  .job-type {
    width: 60%;
    margin: 0;
  }
  .job-details {
    width: 40%;
  }

  /* who we are */
  .text-body {
    margin: 20px 232px;
  }

  /* timeline faq */
  .timeline::before {
    display: none;
  }
  .timeline li {
    height: 295px;
  }
  .inverse-timeline .timeline-panel {
    margin-right: 0;
    margin-left: auto;
    text-align: left;
  }
  .timeline-panel {
    width: 40%;
    margin-right: auto;
    margin-left: 0;
    height: auto;
    text-align: right;
  }
  .timeline-badge,
  .timeline-badge-end {
    left: 51%;
  }
  .timeline-badge::after {
    content: "";
    width: 57px;
    height: 279px;
    position: absolute;
    top: 32px;
    left: 1.75rem;
    background-image: url(../assets/about-us/history/timeline_1.png);
  }
  .inverse-timeline .timeline-badge::after {
    transform: rotate(180deg);
    left: -3rem;
  }
  /* news hero */
  .news-hero {
    display: flex;
    justify-content: space-between;
  }
  .news-text-content {
    width: 30%;
  }
  .news-img-content {
    width: 50%;
  }
  .news-heading {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  /* latest news  */
  .news-container {
    grid-template-columns: repeat(3, 1fr);
  }
  /* job details page */
  /* job details */
  .job-detail {
    padding-block: 128px;
  }
  /* job post */
  .job-post-container {
    width: 80%;
    margin: 0 auto;
  }
  /* product-details */
  .product-detail-container {
    display: flex;
    gap: 1.5rem;
  }
  .product-img-carousel,
  .product-text-details-content {
    width: 50%;
  }
}
/* from 1200 to 1439px */
@media (min-width: 1200px) {
  /* custom */
  .container {
    max-width: 1140px;
  }
  /* navbar */
  .logo-content {
    margin-right: auto;
    margin-left: 24px;
  }
  .menu-list,
  .service-list {
    display: inline-flex;
  }
  .menu-list {
    margin-right: auto;
  }
  .search-icon {
    display: none;
  }

  /* dropdown body */
  .dropdown-body .acc-service {
    display: none;
  }

  /* dropdown search */
  .search-form {
    padding: 3rem 0 4rem;
    width: 75%;
    margin: 0 auto;
  }
  .search-box::placeholder {
    font-size: 1rem;
  }
  .arrow-prop {
    width: 200px;
    position: absolute;
    top: 7rem;
    left: -2rem;
  }
  .product-img-carousel {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
  }
  .product-img-content {
    width: 80%;
  }
  .product-img-content2 {
    width: 20%;
    right: 1rem;
    top: 0;
  }
  .product-img-big {
    margin: 0;
  }
  .product-img-content2 .slick-slide .product-img-small {
    margin: 0;
  }

  /* hero section */
  .hero-text-content {
    margin-left: 10%;
    padding: 0;
    width: 80%;
  }
  .hero-bg-prop {
    top: -6.5rem;
    right: -4.5rem;
  }

  /* footer section */

  .logo-desktop {
    display: block;
  }
  .logo-mobile {
    display: none;
  }

  /* brands page */
  .brands-img-content,
  .brands-text-content {
    width: 41%;
  }
}
/* for device more than 1440px */
@media (min-width: 1440px) {
  /* custom */
  .container {
    max-width: 1320px;
  }

  /* dropdown body  */
  .accordion-body {
    width: 25%;
  }
  .dropdown-carousels {
    width: 75%;
  }

  /* about banner section */
  .about-banner-wave-desktop {
    width: 100%;
  }

  /* news section */
  .news-body .owl-carousel .item {
    height: 788px;
  }

  /* brands page */
  .brands-img-content,
  .brands-text-content {
    width: 43%;
  }

  /* products page */
  /* filter accordion */
  .search-body .accordion-body,/* search section */
  .custom-sort {
    width: 24%;
  }
  .search-result {
    width: 75%;
  }
  .search-item-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
