:root {
  --dp-text: hsl(210, 10.81%, 14.51%);
  --dp-orange: hsl(20.29, 92.05%, 70.39%);
  --dp-gray: hsl(0, 0%, 72.16%);
  --dp-blue: hsl(202.22, 29.67%, 82.16%);
}

body {
  font-family: "Radio Canada", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dp-text);
}
/* custom */
.wrapper {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  box-shadow: 0 8px 16px 0 hsla(0, 0%, 60%, 0.25);
  background-color: #fff;
}
.container {
  padding-inline: 1.5rem;
  margin: 0 auto;
}
.btn {
  padding: 22px 48px;
  font-size: 0.875rem;
  font-weight: 700;
  border: none;
  border-radius: 2rem;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-bottom: 8px;
  margin-right: 8px;
  background-color: #fff;
}
.btn-primary {
  color: #fff;
  background-color: var(--dp-orange);
}
.btn-primary:hover {
  background-color: #fab490;
}
.btn-secondary {
  color: #fff;
  background-color: var(--dp-gray);
}
.btn-secondary:hover {
  background-color: #cacaca;
}
.sub-heading {
  text-transform: uppercase;
  color: var(--dp-orange);
  margin-bottom: 2rem;
  line-height: 1.5;
}
.seaction-heading {
  font-family: Playfair Display, sans-serif;
  font-weight: 500;
  line-height: 1.4;
}
.section-wave {
  background-repeat: no-repeat;
  background-size: cover;
  height: 64px;
  width: 100%;
  position: absolute;
  bottom: -1rem;
  left: 0;
  z-index: 400;
}
.bg-orange {
  background-color: #ffcaaf;
}
.bg-blue {
  background-color: var(--dp-blue);
}
.bg-eggblue {
  background-color: #c4d5df;
}
.bg-lavender {
  background-color: #d1c9df;
}
.bg-columbia {
  background-color: #c8dbdb;
}
.owl-nav {
  width: 100%;
}
.brands .owl-nav button.owl-prev,
.brands .owl-nav button.owl-next,
.brands-dropdown .owl-nav button.owl-prev,
.brands-dropdown .owl-nav button.owl-next,
.news .owl-nav button.owl-prev,
.news .owl-nav button.owl-next,
.dropdown-products .owl-nav button.owl-prev,
.dropdown-products .owl-nav button.owl-next,
.products .owl-nav button.owl-prev,
.products .owl-nav button.owl-next {
  height: 3rem;
  width: 3rem;
  display: inline-flex;
  align-items: center;
  border-radius: 4rem;
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 40%, 0.25);
  background-color: #fff !important;
  z-index: 111;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
}
.owl-nav button.owl-prev:hover,
.owl-nav button.owl-next:hover {
  opacity: 1;
}
.owl-nav button i {
  color: var(--dp-orange);
}
.owl-nav button.owl-prev {
  justify-content: center;
  left: -1.5rem;
}
.owl-nav button.owl-next {
  right: -1.5rem;
}
.owl-nav button.owl-next i {
  padding-left: 10px;
}
/* header */
header {
  margin: 0 auto;
}
/* navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  max-width: 1632px;
  height: 64px;
  margin: 0 auto;
  width: calc(100% - 48px);
  border-radius: 2rem;
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 60%, 0.1);
  padding: 6px 14px;
  background: #fff;
  position: fixed;
  right: 0;
  left: 0;
  top: 16px;
  transition: all 0.4s;
  z-index: 1111;
}
.breadcrumb {
  padding-inline: 10px;
  padding-block: 6px;
  border-radius: 5rem;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: all 0.3s ease;
}
.breadcrumb:hover {
  background-color: var(--dp-orange);
}
.fa-bars {
  color: var(--dp-orange);
  font-size: 1rem;
  transition: all 0.3s ease;
}
.breadcrumb:hover .fa-bars {
  color: #fff;
}
.logo {
  height: 40px;
}
.menu-list,
.service-list {
  display: none;
  align-items: center;
  list-style: none;
  margin: 0;
}
.service-list .icon,
.search-icon .icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: var(--dp-orange);
  position: relative;
  top: 3px;
}
.nav-link {
  text-decoration: none;
  color: #666;
  font-weight: 300;
  padding: 8px 16px;
  transition: all 0.15s ease-in-out;
  position: relative;
}
.nav-link::after {
  transition: all 0.3s ease-out;
  content: "";
  height: 2px;
  background-color: var(--dp-orange);
  width: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
}
.nav-link:hover::after {
  opacity: 1;
  width: 60%;
}

/* dropdown navbar */
.dropdown-navbar {
  display: flex;
  justify-content: space-between;
  padding-block: 1.5rem;
}
.close-btn {
  height: 2rem;
  width: 2rem;
  background-color: var(--dp-orange);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-size: 11px;
}
.dropdown-navbar .logo-content {
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
}
.accordion-body {
  padding-block: 1.25rem;
}
.accordion-item {
  border-top: 1px solid #c4d5df;
}
.accordionBtn {
  background-color: #fff;
  color: #000;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  font-family: Playfair Display, sans-serif;
  cursor: pointer;
  padding: 1rem 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: all 0.4s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dd-chevron {
  font-size: 1.25rem;
  color: var(--dp-orange);
  transition: all 0.3s ease-out;
}
.panel {
  padding: 1rem 1.5rem;
  background-color: white;
  display: none;
  overflow: hidden;
  transition: all 0.4s ease-out;
}
.panel ul {
  list-style: none;
  font-size: 0.875rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.panel ul li a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
  font-weight: 300;
  transition: all 0.3s ease-out;
}
.panel ul li a:hover {
  color: var(--dp-orange);
}
.panel ul li a strong {
  font-weight: 600;
}

/* dropdown body  */
.dropdown-container {
  position: fixed;
  background-color: #fff;
  z-index: 11111;
  top: -100rem;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
  overflow-y: scroll;
}
.dropdown-body {
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
  height: 100%;
}
.accordion-body,
.dropdown-carousels {
  padding: 0 0.5rem;
}
.accordion-body {
  margin-bottom: 1.5rem;
}
.dropdown-body .service-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
  gap: 1rem;
  margin: 1.5rem 0 1rem;
  font-size: 0.875rem;
}
.dropdown-carousels {
  width: 100%;
}
.dropdown-carousels .brands-content {
  padding: 0;
}

/* search container */
.search-container {
  position: fixed;
  top: -50rem;
  left: 0;
  z-index: 11111;
  transition: all 0.5s ease-out;
  width: 100%;
  background-color: #fff;
}
.search-body {
  padding-block: 1rem;
  position: relative;
}
.search-heading {
  text-align: center;
}
.search-form {
  margin: 0 1rem 1rem;
  width: 100%;
  position: relative;
}
.search-box {
  background-color: #f4f4f4;
  border: none;
  border-radius: 2rem;
  padding-left: 1.5rem;
  padding-right: 70px;
  width: 100%;
  height: 65px;
}
.search-box::placeholder {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.search-box:focus-visible {
  outline: none;
}
.search-btn {
  position: absolute;
  background-color: var(--dp-orange);
  border: none;
  height: 64px;
  width: 66px;
  right: 0;
  border-radius: 0 2rem 2rem 0;
}
.dropdown-search-icon {
  font-size: 21px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-prop {
  width: 120px;
  position: absolute;
  top: -1rem;
  left: -2rem;
}

/* hero section */
.hero-section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: var(--dp-blue);
  position: relative;
}
.hero-img-content {
  width: 100%;
  height: auto;
}
.img-container {
  width: 100%;
  margin: 0;
}
.desktop-hero {
  display: none;
}
.hero-img-content img {
  width: 100%;
  object-fit: unset;
}
.hero-text-content {
  padding: 2.5rem 1.5rem 6rem;
  width: 100%;
  position: relative;
}
.hero-text-container {
  max-width: 528px;
}
.hero-title {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.hero-text {
  font-weight: 300;
  color: #000;
}
.fa-chevron-right {
  transition: all 0.3s ease-in-out;
  transform: translateX(10px);
}
.btn:hover .fa-chevron-right {
  transform: translateX(20px);
}
.hero-bg-prop {
  position: absolute;
  width: 120px;
  top: -80rem;
  right: 0;
}
.hero-bg-wave-mobile {
  background-image: url(../assets/waves/wave_white_mobile.svg);
}
.hero-bg-wave-desktop {
  display: none;
}

/* brands */
.brands-content {
  padding: 55px 0 95px;
}
.brands {
  padding-block: 2rem;
}
.brands .owl-stage {
  width: 100%;
  padding-top: 1rem;
}
.brands img {
  transition: all 0.3s ease-out;
}
.brands figure:hover img {
  transform: scale(1.05);
}
.btn-center {
  display: flex;
  justify-content: center;
}

/* video banner section */
.vdo-content {
  text-align: center;
  background-color: var(--dp-blue);
  padding: 80px 0 120px;
  overflow: hidden;
  position: relative;
}
.vdo-content::before,
.sales-banner-content::before {
  content: "";
  background-color: #ffcaaf;
  width: 25%;
  height: 120%;
  position: absolute;
  z-index: 100;
  top: -20%;
  left: -20%;
  transform: rotate(12deg);
}
.vdo-content .sub-heading,
.sales-banner-content .sub-heading {
  color: #fff;
}
.vdo-content .seaction-heading,
.sales-banner-content .seaction-heading {
  font-weight: 700;
  margin-bottom: 2rem;
}
.vdo-content video {
  width: 100%;
  max-width: 680px;
  position: relative;
  z-index: 200;
}
.video-bg-wave-mobile {
  background-image: url(../assets/waves/wave_grey_mobile.svg);
}
.video-bg-wave-desktop {
  display: none;
}
.vdo-prop {
  position: absolute;
  width: 100px;
  bottom: -1rem;
  right: 0;
  z-index: 300;
}

/* teaser section */
.teaser-content {
  padding-top: 55px;
}
.teaser-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 70px 0 140px;
}
.teaser-img-holder {
  padding: 20px;
  margin-bottom: 20px;
}
.teaser-img {
  width: 100%;
  height: auto;
  margin-top: -42px;
}
.teaser-text {
  font-weight: 300;
  color: #666;
  padding: 1.5rem 0 3rem;
  line-height: 2;
}

/* products section */
.products-content {
  padding: 55px 0 150px;
}
.products .owl-stage,
.dropdown-products .owl-stage {
  padding: 40px 0 50px;
}
.products .item,
.dropdown-products .item {
  padding: 1rem;
  min-height: 272px;
}
.products .product,
.dropdown-products .product {
  overflow: visible;
  text-decoration: none;
}
.products .product figure,
.dropdown-products .product figure {
  margin-bottom: -2rem;
  position: relative;
  top: -46px;
}
.product-title {
  color: #fff;
  font-family: Playfair Display, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.27;
}

/* sales banner section */
.sales-banner-content {
  padding-block: 5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.sales-banner-text {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 3rem;
  color: #666;
}
.sales-btn {
  color: var(--dp-orange);
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  margin-left: 0.5rem;
}
.sales-btn:hover {
  color: white;
  background-color: #d9d9d9;
}
.sales-banner-bg-wave-mobile {
  background-image: url(../assets/waves/wave_lightgrey2-bg_mobile.svg);
}
.sales-banner-bg-wave-desktop {
  display: none;
}
.sales-prop-heart,
.sales-prop-paitings {
  position: absolute;
}
.sales-prop-heart {
  width: 100px;
  top: 85px;
  left: 0;
  z-index: 200;
}
.sales-prop-paitings {
  z-index: 50;
  opacity: 0;
}

/* about section */
.about-content {
  padding: 55px 0 150px;
}
.about-text {
  font-weight: 300;
  margin-block: 1.5rem;
  color: #666;
  line-height: 2;
}

/* about banner section */
.about-container {
  position: relative;
  overflow: hidden;
}
.about-container figure {
  margin: 0;
}
.about-mobile-bg {
  height: 450px;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 100;
}
.about-desktop-bg {
  display: none;
}
.about-banner-body {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}
.about-body-content {
  position: absolute;
  width: 100%;
  max-width: 680px;
  padding-inline: 1.5rem;
}
.about-banner-text {
  font-size: 1.25rem;
  font-family: Playfair Display, sans-serif;
  line-height: 1.63;
  color: #fff;
  margin-bottom: 2rem;
}
.about-banner-wave-mobile,
.about-banner-wave-desktop {
  position: absolute;
  bottom: -1rem;
  left: 0;
  z-index: 400;
  object-fit: cover;
}
.about-banner-wave-desktop {
  display: none;
}

/* news section */

.news-content {
  padding-block: 55px;
}
.news-body {
  padding-block: 3rem;
}
.news-body .owl-carousel {
  display: flex;
  flex-wrap: wrap;
}
.news-body .owl-carousel .item {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 60%, 0.25);
  height: 963px;
  margin: 0 8px 20px;
}
.news-item-img-content {
  height: 228px;
  overflow: hidden;
}
.news-item-img {
  height: 228px;
  object-fit: cover;
  transition: all 0.3s ease-out;
}
.news-item-img:hover {
  transform: scale(1.2);
}
.news-item-text-content {
  padding: 1.5rem;
}
.news-date {
  margin-bottom: 26px;
  color: #666;
}
.news-title {
  font-family: Playfair Display, sans-serif;
  font-weight: 500;
  line-height: 1.45;
}
.news-title a {
  color: #000;
  font-size: 22px;
  text-decoration: none;
}
.news-text {
  font-weight: 300;
  color: #666;
  line-height: 2.13;
  margin-bottom: 2rem;
}
.news-btn {
  color: var(--dp-orange);
  padding: 0;
  margin: 0;
}

/* career teaser section */
.career-container {
  position: relative;
}
.career-teaser-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 70px 1.5rem 140px;
}
.career-banner-bg-wave-mobile {
  background-image: url(../assets/waves/wave_newsletter_mobile.svg);
}
.career-banner-bg-wave-desktop {
  display: none;
}

/* newsletter section */
.newsletter-container {
  position: relative;
  z-index: 100;
  background-color: var(--dp-blue);
}
.newsletter-content {
  padding: 55px 1.5rem 75px;
}
.newsletter-content .seaction-heading {
  margin-bottom: 1.5rem;
}
.newsletter-form,
.newsletter-content {
  display: flex;
  flex-direction: column;
}
.newsletter-input {
  padding: 22px 24px;
  border: 0;
  background-color: #f4f4f4;
  border-radius: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  width: 100%;
  margin-right: 1.5rem;
}
.newsletter-input::placeholder {
  font-size: 0.875rem;
  text-transform: uppercase;
}
.newsletter-input:focus-visible {
  outline: 0;
}
.newsletter-banner-bg-wave-mobile {
  background-image: url(../assets/waves/wave_footer_mobile.svg);
}
.newsletter-banner-bg-wave-desktop {
  display: none;
}
.newsletter-prop {
  width: 150px;
  position: absolute;
  top: 45%;
  left: 40%;
}

/* footer */
footer {
  padding: 2rem 0 1.125rem;
  background-color: #ffcaaf;
}
footer ul {
  list-style: none;
}
footer hr {
  border-color: #f9f9f9;
}
footer a,
footer p,
footer strong,
footer span {
  text-decoration: none;
  font-size: 0.8125rem;
  color: #333;
  transition: all 0.3s ease-out;
}
footer a:hover {
  color: #fff;
}
footer a,
footer p,
footer span {
  font-weight: 300;
}
footer strong {
  font-weight: 600;
}
footer p {
  margin-bottom: 0.625rem;
}
.footer-body {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 0.75rem;
}
.footer-logo {
  height: 2.5rem;
}
.footer-navbar {
  margin-block: 1.5rem;
  text-align: center;
}
.footer-navbar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 300;
  column-gap: 2rem;
  transition: all 0.3s ease-out;
}
.footer-navbar span {
  display: none;
}
.footer-navbar .icon {
  font-size: 25px;
  color: var(--dp-orange);
  transition: all 0.3s ease-out;
}
.footer-navbar .icon:hover {
  color: #fff;
}
.logo-desktop {
  display: none;
}
.logo-mobile {
  text-align: center;
}
.copyright {
  font-size: 0.75rem;
  text-align: center;
}
